/* Background */

#bkg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(255,205,0);
    background: -moz-linear-gradient(135deg, rgba(255,205,0,1) 0%, rgba(255,203,139,1) 35%, rgb(255, 137, 183) 100%);
    background: -webkit-linear-gradient(135deg, rgba(255,205,0,1) 0%, rgba(255,203,139,1) 35%, rgba(255,137,183,1) 100%);
    background: linear-gradient(135deg, rgba(255,205,0,1) 0%, rgba(255,203,139,1) 35%, rgba(255,137,183,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffcd00",endColorstr="#ff89b7",GradientType=1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    scroll-margin-top: 100px;
}

/* Navbar */

.navable {
    padding-top: 3vw;
    margin-top: -3vw;
}

#navbar {
    height: 3vw;
    width: 100%;
    z-index: 1;
    background-color: black;
    margin: 0 auto;
    padding: 0pt;
    flex: 0 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0vh;
}

.navitem {
    color: rgb(255, 255, 255);
    font-size: 1.25vw;
    font-family: monospace;
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.blend {
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    font-family: monospace;
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    mix-blend-mode: multiply;
    flex: 0 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

.titleblend {
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 7vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    margin-bottom: 1vw;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
    mix-blend-mode: multiply;
    flex: 0 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

.blend:hover {
    mix-blend-mode: unset;
    color: rgba(255,205,0,1);
}

.blend2 {
    mix-blend-mode: unset;
    color: rgba(255,205,0,1);
}

#navleft {
    background-color: rgb(0, 0, 0);
    flex: 0 0 auto;
    width: 10%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navright {
    background-color: rgb(0, 0, 0);
    flex: 1 1 auto;
    width: auto;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sectiontitle {
    font-size: 7vw;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    mix-blend-mode: multiply;
    flex: 0 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

/* Page Divs */

.page {
    height: auto;
    width: 100%;
    flex: 1 0 auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

/* Title Page */

#titlebox {
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    width: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
}

.titleboxcolumn {
    flex: 1 0 auto;
    min-height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleboxsubcolumn {
    flex: 1 0 auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abouttext {
    font-size: 1.25vw;
}

#profilepic{
    max-width: 100%;
    height: auto;
    border-radius: 0.75vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-attachment: fixed;
}

.resume {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5vw;
    margin: 0;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-decoration-color: black;
}

.resumebutton {
    border-style: solid;
    border-width: 0.25vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color:rgb(0, 0, 0);
}

.resumebutton:hover {
    opacity: 50%;
}

/* Education Page */

#schoolbox {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#school {
    width: 50vw;
    padding: 4vw;
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#schoollogo {
    height: 8vw;
    border-radius: 1vw;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#schoolname {
    color: white;
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0;
}

#schoolyears {
    color: rgb(255,205,0);
    font-size: 2vw;
    font-family: monospace;
    margin-top: 0;
    margin-bottom: 0;
}

#schooldegree {
    color: white;
    font-size: 1.5vw;
    font-family: monospace;
    margin: 0;
}

#schooldegree2 {
    color: white;
    font-size: 1vw;
    font-family: monospace;
    margin: 0;
}

#schoolnotes {
    color: white;
    font-size: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

/* Experience */

.experiencediv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin: 0;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    /* background-attachment: fixed; */
}

.experiencediv:hover {  
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
}

.experiencecolumn {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10vw;
}

.experiencetop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.experiencedesc {
    margin-left: 1.25vw;
}

.experiencebottom {
    margin-left: 1.25vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.experiencegallery {
    display: flex;
    flex-direction: row;
    padding: 1vw;
    gap: 2vw;
}

.experiencelogo {
    height: 8vw;
    border-radius: 1vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1vw;
}

.experiencename {
    color: black;
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

.experiencedate {
    color: rgb(63 63 63);
    font-size: 1.5vw;
    font-family: monospace;
    margin-bottom: 0;
    margin-top: 0;
}

.experienceposition {
    color: black;
    font-size: 1.5vw;
    font-family: monospace;
    margin-bottom: 0;
    margin-top: 0;
}

.experiencedescription {
    color: black;
    font-size: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0.2vw;
}

.experiencepic {
    width: 10vw;
    height: 7.5vw;
    object-fit: cover;
}

.experiencepic:hover {
    opacity: 0.7;
}

.rotate {

    transform: rotate(90deg);

    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(90deg);
  
    /* Firefox */
    -moz-transform: rotate(90deg);
  
    /* IE */
    -ms-transform: rotate(90deg);
  
    /* Opera */
    -o-transform: rotate(90deg);
  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

    transition: all 0.2s ease-in-out;

}

.rotate2 {

    transform: rotate(270deg);

    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(270deg);
  
    /* Firefox */
    -moz-transform: rotate(270deg);
  
    /* IE */
    -ms-transform: rotate(270deg);
  
    /* Opera */
    -o-transform: rotate(270deg);
  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    transition: all 0.2s ease-in-out;

}

/* Skills */

.skilldiv {
    background: linear-gradient(rgba(0,0,0,1) 99%, rgba(0,0,0,0) 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skilllist {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.skillleft{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 24%;
    align-items: center;
    justify-content: center;
}

.skillright{
    display: flex;
    width: 56%;
    flex-direction: column;
}

.skillrow{
    display: flex;
    flex-direction: row;
}

.skillheader{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4vw;
}

.category {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.25vw;
    text-decoration: underline;
}

.categoryheader {
    padding-top: 1vw;
}

.skill {
    width: 50%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    vertical-align: center;
    text-align: right;
    padding-left: 4vw;
    padding-right: 4vw;
}

.level {
    width: 50%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    vertical-align: center;
}

/* Footer */

.footer {
    margin-top: 2vw;
}

/* Fonts */

#title {
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 7vw;
    padding: 0pt;
    margin:  0pt;
}

.subtitle {
    color: rgb(63 63 63);
    font-family: monospace;
    font-size: 1.5vw;
    margin: 0pt;
    padding: 0pt;
}

#bodytext {
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 15pt;
    margin: 0pt;
    padding: 0pt;
}

.white-highlight{
    background-color:rgb(255, 255, 255);
    padding:0.1em 0.2em;
}

/* Icons */

#iconbox {
    margin-top: 1.75vw;
    margin-bottom: 1.75vw;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}

.bi{
    transition: 0.3s;
    width: 3vw;
    height: 3vw;
}

.bi:hover{
    opacity: 50%;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
.gallery:hover {
    border: 1px solid #777;
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }
  
.desc {
    padding: 15px;
    text-align: center;
  }

#ProjectsHR {
    /* color: rgb(0, 0, 0); */
    /* mix-blend-mode: multiply; */
    border: none; 
    border-bottom: 1px solid gainsboro;  
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
#myImg:hover {opacity: 0.7;}
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
  
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
  
/* The Close Button */
.close {
    position: absolute;
    z-index: auto;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.fade-in {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
}
  
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fromleft {
    animation: rightToLeft 1s;
    -webkit-animation: rightToLeft 1s;
    -moz-animation: rightToLeft 1s;
    -o-animation: rightToLeft 1s;
    -ms-animation: rightToLeft 1s;
    overflow-x: hidden;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
}

@keyframes rightToLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0px);
    }
}

.mobileon {
    display: none;
}

.mobileoff {
    display: flex;
}

.dropdown {
    display: inline-block;
    position: relative;
}
  
  /* Hide The disclosure widget: */
.dropdown summary {
    list-style: none;
    cursor: pointer;
}
  
.dropdown summary::-webkit-details-marker {
    display: none;
}
  
  /* Detache details content */
.dropdown .dropdown-content {
    position: absolute;
    min-inline-size: max-content;
    background-color: white;
  
    /* In case the dropdown should open to the left: */
    /* right: 0; */
}
  
  /* Closing the dropdown on clicking anywhere else */
.dropdown details[open] summary::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    cursor: default;
}

@media screen and (max-width: 1000px) {
    .mobileon {
        display: flex;
    }

    .mobileoff {
        display: none;
    }

    #titlebox {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .titleboxcolumn {
      width:100%;
      margin-top: 0px;
      margin-bottom: 0px;
      flex: 0 0 auto;
    }

    .titleboxsubcolumn {
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    
    .titleboxsubcolumn2 {
        min-height: auto;
        display: None;
    }

    .mobilecolumn {
        min-height: 0;
        height: 0;
    }

    #title {
        font-size: 17vw;
    }
    
    .subtitle {
        font-size: 4vw;
    }

    .titleblend {
        font-size: 17vw;
        margin-bottom: 4vw;
    }

    .abouttext {
        font-size: 4vw;
    }

    .sectiontitle {
        font-size: 17vw;
    }

    #iconbox {
        margin-top: 5vw;
        margin-bottom: 5vw;
        gap: 4vw;
    }
    
    .resume {
        font-size: 3vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    
    .resumebutton {
        border-width: 0.5vw;
        height: 7vw;
    }
    
    .bi{
        width: 8vw;
        height: 8vw;
    }

    #schoolbox {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    #school {
        width: 100%;
        padding: 0;
        padding-top: 5vw;
        padding-bottom: 5vw;
        margin: 0;
    }

    #schooltext {
        width: 80%;
    }
    
    #schoollogo {
        height: 16vw;
        border-radius: 2vw;
    }
    
    #schoolname {
        font-size: 6vw;
    }
    
    #schoolyears {
        font-size: 4vw;
    }
    
    #schooldegree {
        font-size: 3vw;
    }

    #schooldegree2 {
        font-size: 2.5vw;
    }
    
    #schoolnotes {
        font-size: 2.5vw;
    }

    .experiencediv {
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    
    .experiencecolumn {
        width: 80%;
    }
    
    .experiencebottom {
        margin-left: 1.25vw;
    }
    
    .experiencegallery {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1vw;
        gap: 2vw;
    }
    
    .experiencelogo {
        height: 16vw;
        border-radius: 2vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 2vw;
    }
    
    .experiencename {
        color: black;
        font-size: 6vw;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .experiencedate {
        color: rgb(63 63 63);
        font-size: 3vw;
        font-family: monospace;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .experienceposition {
        color: black;
        font-size: 3vw;
        font-family: monospace;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .experiencedescription {
        color: black;
        font-size: 2.5vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0.4vw;
    }
    
    .experiencepic {
        width: 20vw;
        height: 15vw;
        object-fit: cover;
    }
    
    .experiencepic:hover {
        opacity: 0.7;
    }

    .category {
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 2.5vw;
        text-decoration: underline;
    }
    
    .categoryheader {
        padding-top: 2vw;
    }
    
    .skill {
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2vw;
        vertical-align: bottom;
        padding-left: 4vw;
        padding-right: 4vw;
    }
    
    .level {
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2vw;
        vertical-align: bottom;
    }

    #navbar {
        height: 6vw;
    }

    .navable {
        padding-top: 6vw;
        margin-top: -6vw;
    }
    
    .navitem {
        font-size: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }
}