#bkg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(255,205,0);
    background: -moz-linear-gradient(135deg, rgba(255,205,0,1) 0%, rgba(255,203,139,1) 35%, rgba(255,137,183,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(255,205,0,1) 0%, rgba(255,203,139,1) 35%, rgba(255,137,183,1) 100%);
    background: linear-gradient(135deg, rgba(255,205,0,1) 0%, rgba(255,203,139,1) 35%, rgba(255,137,183,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffcd00",endColorstr="#ff89b7",GradientType=1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

#navbar {
    height: 50pt;
    width: 100%;
    background: rgb(0, 0, 0);
    margin: 0pt;
    padding: 0pt;
    flex: 0 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#blend {
    background-color: white;
    color: black;
    font-size: 10vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    mix-blend-mode: screen;
}

#page {
    height: auto;
    width: 100%;
    flex: 1 0 auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#titlebox {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 80%;
    width: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

#titleboxcolumn {
    flex: 1 0 auto;
    height: auto;
    width: 40%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: min(17vw, 70pt);
    padding: 0pt;
    margin:  0pt;
}

#subtitle {
    color: rgb(63 63 63);
    font-family: monospace;
    font-size: 20pt;
    margin: 0pt;
    padding: 0pt;
}

#iconbox {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bi{
    transition: 0.3s;
    width: "48";
    height: "48";
}

.bi:hover{
    opacity: 50%;
}

#profilepic{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}